extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .deck#a
      form.search(data-deck="a" action="#")
        input(name="query" type="text")
        button Search Track
      .search-results 
        h3 Search Results
        ul
          li.user
      .widget
        iframe(width='100%', height='100%', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/217890037&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true')
    .center-panel
      .top
      .bottom
        #fader
    .deck
      .deck#b
        form.search(data-deck="b" action="#")
          input(name="query" type="text" data-deck="b")
          button Search Track
        .search-results 
          h3 Search Results
          ul
            li.user
        .widget
          <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/8953621&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>