body {
  padding: 50px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 100%;
  height: 800px;
  display: flex;
}

.deck {
  flex: 4;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
}

.deck li {
  list-style-type: none;
}

.crossfader {
  flex: 3;
}

.deck .search {
  flex: 1;
  border: 1px solid black;
}

.deck .search-results {
  flex: 3;
  border: 1px solid black;
}

.deck .widget {
  flex: 2;
  border: 1px solid black;
  display: flex;
  align-items: center;
}